asgiref==3.3.1
cairocffi==1.2.0
CairoSVG==2.5.2
cffi==1.14.5
cssselect2==0.4.1
cv==1.0.0
defusedxml==0.7.1
Django==3.1.7
django-cors-headers==3.7.0
django-wkhtmltopdf==3.3.0
html2image==1.1.2
html5lib==1.1
imgkit==1.2.2
numpy==1.20.3
opencv-python==4.5.2.52
Pillow==8.2.0
py3-wkhtmltopdf @ git+https://github.com/jontsai/python3-wkhtmltopdf.git@379ab788882dddc7df3c07f99e39f93e6bfc2e9b
pycairo==1.20.0
pycparser==2.20
Pyphen==0.10.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
tinycss2==1.1.0
WeasyPrint==52.5
webencodings==0.5.1
webkit2png==0.8.2
wkhtmltopdf==0.2
