body{
    width: 100%;
    min-height: 200vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    z-index:100;
    height: 7vh;
    width: 100%;
    top:0;
    background: -webkit-linear-gradient(.25turn, #2ecc71 10%, #8bd9b9 90%);
    background: -moz-linear-gradient(.25turn, #2ecc71 10%, #8bd9b9 90%);
    background: -ms-linear-gradient(.25turn, #2ecc71 10%, #8bd9b9 90%);
    background: -o-linear-gradient(.25turn, #2ecc71 10%, #8bd9b9 90%);
    background: linear-gradient(.25turn, #2ecc71 10%, #8bd9b9 90%);
}
.container{
    position: absolute;
    top:7vh;
    left:0;
    width: 100%;
    height: 100%;
}