.studentblock{
    position: relative;
}
form{
    position: absolute;
    right: 10%;
    top: 0px;
}
form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #47df86;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 225px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    margin: 10px auto;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}
form button:hover {
    background-color: #2ecc71;
  
}
form input{
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 5px;
    color: #2ecc71;
    border-radius: 3px;
    width: 225px;
    font-size: 18px;
    transition-duration: 0.5s;
    margin: 10px auto;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    box-shadow:0px 0px 9px 0px #47df86a9;
    box-sizing: border-box;
}
form input::placeholder{
    color: gray;
}
.active input{
    transform: translateX(-225px);
    width: 275px;
}
.member{
    width: 90%;
    height: 50px;
    margin: 20px 0;
    border-radius: 7px;
    /* border: 1px solid #2ecc71; */
    box-shadow: 0px 0px 7px 0px #47df86;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member img{
    height: 40px;
    width: 40px;
    border-radius: 7px;
}
.studentsList{
    margin: 50px 0;
}
.member div{
    width:30%;
    text-align: center;
}
.member .id{
    width: 15%;
}

@media only screen and (max-width:700px){
    form button{
        padding: 5px 5px;
        font-size: 12px;
        width: 125px;
        box-sizing: border-box;
    }
    form input{
        width: 125px;
        padding: 5px 5px;
    }
    .active input{
        transform: translateX(-105px);
        width: 275px;
    }
}