.add{
    position: absolute;
    right: 10%;
    top: 9vh;
    outline: 0;
    background-color: #47df86;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 225px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    margin: 10px auto;
    display: block;
    z-index: 20;
    text-align: center;
}
.add:hover {
    background-color: #2ecc71;
}
.test{
    width: 90%;
    height: 50px;
    margin: 20px 0;
    border-radius: 7px;
    /* border: 1px solid #2ecc71; */
    box-shadow: 0px 0px 7px 0px #47df86;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.test i{
    font-size: 2em;
    color: #2ecc71;
    border-radius: 7px;
}
.testsList{
    margin: 13vh 0;
}
.test div{
    width:30%;
    text-align: center;
}
.test .id{
    width: 15%;
}
.test a{
    background-color: #47df86;
    border: 0;
    padding: 7px 12px;
    color: white;
    text-align: center;
    border-radius: 7px;
}
.gray{
    background-color: #f5f4f4 !important;
}
.add.submit{
    position: relative;
}
form{
    margin-left: 5%;
    margin-right: 5%;
}
form li{
    margin-left: 0;
    margin-right: 0;
}
form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #47df86;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 225px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    margin: 10px auto;
    display: block;
}
form h2{
    margin-left: 9%;
}
.class-content{
    height: 83vh;
}
#meet{
    height: 100%;
    width: 90%;

}
#meet iframe{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width:700px){
    .add{
        top:10vh;
        right: 1%;
        padding: 5px 10px;
        color: white;
        border-radius: 3px;
        width: 125px;
        cursor: pointer;
        font-size: 12px;
        transition-duration: 0.25s;
        margin: 10px auto;
        display: block;
        z-index: 20;
        text-align: center;
    }
    ul{
        margin-left:0 ;
        padding-left: 0;
    }
    li{
        margin-left: 0;
        padding-left: 0;
    }
    .test a{
        padding: 5px 7px;
        font-size: 10px;
    }
}