.add{
    position: absolute;
    right: 10%;
    top: 9vh;
    outline: 0;
    background-color: #47df86;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 225px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    margin: 10px auto;
    display: block;
    z-index: 20;
    text-align: center;
}
.add:hover {
    background-color: #2ecc71;
}
.material{
    width: 90%;
    height: 50px;
    margin: 20px 0;
    border-radius: 7px;
    /* border: 1px solid #2ecc71; */
    box-shadow: 0px 0px 7px 0px #47df86;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.material i{
    font-size: 2em;
    color: #2ecc71;
    border-radius: 7px;
}
.materialList{
    margin: 13vh 0;
}
.material div{
    width:30%;
    text-align: center;
}
.material .id{
    width: 15%;
}
.material a{
    background-color: #47df86;
    border: 0;
    padding: 7px 12px;
    color: white;
    text-align: center;
    border-radius: 7px;
}