.sideNav{
    position: fixed;
    left: 0;
    height: 100%;
    width: 15%;
    top: 0;
    background: -webkit-linear-gradient(.25turn, #2ecc71 10%, #40e786 90%);
    background: -moz-linear-gradient(.25turn, #2ecc71 10%, #40e786   90%);
    background: -ms-linear-gradient(.25turn, #2ecc71 10%, #40e786   90%);
    background: -o-linear-gradient(.25turn, #2ecc71 10%, #40e786   90%);
    background: linear-gradient(.25turn, #2ecc71 10%, #40e786   90%);
    z-index: 90;
    transform: translateX(-100%);
    transition: 0.5s;
}
.sideNav button{
    position: absolute;
    top:7vh;
    right: 0;
    transform: translateX(50%);
    width: 100px;
    height: 75px;
    background-color: #40e786;
    border: none;
    border-radius: 50px;
    z-index:-20;
    outline: none;
    transition: 0.5s;
    box-sizing: border-box;
    padding-left: 17%;
}
.sideNav button i{
    color: white;
    font-size: 3em;
    transition: 0.5s;
}
.sideNav button:hover{
    width: 120px;
    padding-left: 25%;
}
.sideNav.activeNav{
    transform: translateX(0px);
}
.sideNav.activeNav button i{
    transform: rotateZ(180deg);
}
.sideNav ul{
    width: 100%;
    height: 100%;
    margin-top: 7vh;
    padding: 0;
    margin-left: 0;
    background: -webkit-linear-gradient(.25turn, #2ecc71 10%, #40e786 90%);
    background: -moz-linear-gradient(.25turn, #2ecc71 10%, #40e786   90%);
    background: -ms-linear-gradient(.25turn, #2ecc71 10%, #40e786   90%);
    background: -o-linear-gradient(.25turn, #2ecc71 10%, #40e786   90%);
    background: linear-gradient(.25turn, #2ecc71 10%, #40e786   90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideNav ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 1.3em;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
    cursor: pointer;
    transition: 0.5s;
}
.sideNav ul li a{
    width: 100%;
    height: 100%;
    display: block;
}
.sideNav ul li:hover{
    background-color:#40e786 ;
}
.dashboard{
    width: 100%;
    min-height: 100%;
    padding:60px 10%;
    padding-right: 0;
    box-sizing: border-box;
    padding-top: 60px;
    transition: 0.5s;
}
.dashboard.activeNav{
    width: 90%;
    margin-left: 10%;
}
.card{
    width: 250px;
    height: 250px;
    /* border-radius: 7px; */
    box-shadow: 0px 0px 11px 0px rgb(219, 218, 218);
    display: inline-block;
    margin: 5% 0;
    margin-left: 0;
    margin-right: 5%;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 0px 0px 13px 0px rgb(189, 187, 187);
    transform: scale(1.05);
}
.card .logo{
    width: 80%;
    margin: auto;
    height: 70%;
    margin-top: 10%;
    margin-bottom: 10px;
}
.card .logo img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.cardList{
    width: 100%;
    height: 100%;
}
.add{
    position: absolute;
    right: 10%;
    top: 9vh;
    outline: 0;
    background-color: #47df86;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 225px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    margin: 10px auto;
    display: block;
    z-index: 20;
    text-align: center;
}
.add:hover {
    background-color: #2ecc71;
}

@media only screen and (max-width: 700px) {
    .dashboard{
        padding:10vh 5%;
    }
    .sideNav{
        width: 80%;
    }
    .cardList{
        text-align: center;
    }
    .add{
        top:10vh;
        right: 1%;
        padding: 5px 10px;
        color: white;
        border-radius: 3px;
        width: 125px;
        cursor: pointer;
        font-size: 12px;
        transition-duration: 0.25s;
        margin: 10px auto;
        display: block;
        z-index: 20;
        text-align: center;
    }
    h1{
        font-size: 23px;
    }
    .card{
        margin:5% auto;
    }
    .question{
        margin-left: 0 !important;
    }
    .test{
        width: 100% !important;
        font-size: 12px !important;
    }
}