{% extends 'learnerApp/facultyDashboard.html' %}
{% load static %}
{% block inncss %} <link rel="stylesheet" href="{% static 'learnerApp/css/profile.css' %}"> {% endblock %}
{% block dashboard %}
    <form method = "POST" autocomplete="off" class="class">
        <div class="field">
            Course Name
            <input type="text" name="title" >
        </div>
        <div class="field">
            Course Description
            <input type="text" name="description" >
        </div>
        {% csrf_token %}
        <button>Save</button>
    </form> 
{% endblock %}