{% extends 'learnerApp/facultyDashboard.html' %}
{% load static %}
{% block inncss %} <link rel="stylesheet" href="{% static 'learnerApp/css/profile.css' %}"> {% endblock %}
{% block dashboard %}
<form method = "POST" autocomplete="off" enctype="multipart/form-data">
    {% for field in form %}
    <div class="field">
        {{ field.label }} <span class="help">{{ field.help_text }}</span>
        {{ field }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button>Save</button>
</form>
{% endblock %}