{% extends 'learnerApp/classroom.html' %}
{% load static %}
{% block classcss %} <link rel="stylesheet" href="{% static 'learnerApp/css/classFeed.css' %}">{% endblock %}
{% block class-content %}
<a href="{% url 'classCall' id=id %}" class="add">Join Meet</a>
<div class="messages">
    {% for message in messages %}
    <div class="message">
        <div class="dp"><img src="{{ message.user_image }}"></div>
        <div class="text">
            <div>
                <span>{{ message.user_name }}</span>
                <span>{{ message.timestamp }}</span>
            </div>
            {{ message.message }}
        </div>
    </div>
    {% endfor %}
</div>
<form class="messageinp" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="text" name="message" placeholder="Enter message here">
    <button><i class="fas fa-paper-plane"></i></button>
</form>
<script>
    var objDiv = document.getElementsByClassName("messages")[0];
    objDiv.scrollTop = objDiv.scrollHeight - objDiv.clientHeight;
</script>
{% endblock %}