{% extends "learnerApp/base.html" %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'learnerApp/css/dashboardTemplate.css' %}"> 
{% block incss %}{% endblock %}
{% endblock %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="sideNav activeNav">
        <button><i class="fas fa-chevron-right"></i></button>
        <ul>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            {% block linkList %}{% endblock %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
    <div class="dashboard activeNav">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
        {% block dashboard %}{% endblock %}
        <script src="{% static 'learnerApp/js/dashboardTemplate.js' %}"></script>
    </div>
{% endblock %}