{% extends "learnerApp/dashboardTemplate.html" %}
{% load static %}
{% block incss %} <link rel="stylesheet" href="{% static 'learnerApp/css/adminDashboard.css' %}"> {% endblock %}
{% block linkList %}<li><a>Faculty</a></li>{% endblock %}
{% block dashboard %}
    <h1>Institutes</h1>
    <div class="instituteList">
        {% for institute in instituteList %}
            <a class="institute">
                {{ institute.institute_name }}
            </a>
        {% endfor %}
        <a class="institute new" href="{% url 'addFaculty' %}">
            Add Institute
        </a>
    </div>
{% endblock %}