{% extends 'learnerApp/classroom.html' %}
{% load static %}
{% block classcss %}
{% load custom_tag %}
<link rel="stylesheet" href="{% static 'learnerApp/css/classTests.css' %}">
<link rel="stylesheet" href="{% static 'learnerApp/css/classTestManage.css' %}">
{% endblock %}
{% block class-content %}
<h1>{{ test.title }} - Response</h1>
<h6>Attendee name:</h6>{{ response.student.first_name }} {{ response.student.last_name }} - {{ response.student.student_id }}
<h6>Score:</h6>{{ response.score }}
<div class="testsList">
    <h2>Answers</h2>
    <ul class="questionList">
    {% for answer in answers %}
        <li class="question {% if answer.is_correct %}{% else %} incorrect {% endif %}">
            {{ forloop.counter }}. {{ question.question }}
            <ul class="options">
                <li>A. {{ answer.question.option_1 }}</li>
                <li>B. {{ answer.question.option_2 }}</li>
                <li>C. {{ answer.question.option_3 }}</li>
                <li>D. {{ answer.question.option_4 }}</li>
            </ul>
            <p>Correct Option: {{ answer.question|get_item:answer.question.correct }}</p>
            <p>Opted Option: {{ answer.question|get_item:answer.option }}</p>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}